.menu__dd-bg {
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px,
    rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  display: none;
}

.menu__dd-bg.ativo {
  display: block;
  animation: slide-in-down 0.5s ease-in-out forwards;
}

.menu__dd-li {
  cursor: pointer;
}

.ddCursos,
.ddSobre {
  position: relative;
}

.menu__dd-li.ativo .ddCursos::after,
.menu__dd-li.ativo .ddSobre::after {
  content: "";
  width: 100px;
  height: 3px;
  background: var(--cor-2);
  position: absolute;
  left: 0;
  top: 70px;
  border-radius: 5px;
}

.menu__dd-li.ativo p .menuDetail {
  transform: rotate(180deg);
  transition: 0.3s;
}

.ddCursos::after {
  margin-left: -20px;
}

.ddSobre::after {
  margin-left: -23px;
}

.menu__dd-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 40px 16px;
  gap: 50px;
  animation: fade-in-down 0.4s ease-in-out forwards;
}

@keyframes fade-in-down {
  from {
    transform: translateY(-5%);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slide-in-down {
  from {
    max-height: 0;
  }
  to {
    max-height: 1500px;
  }
}

.menu__dd-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: center;
}

.menu__dd-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu__dd-main {
  display: grid;
  gap: 10px;
}

.detailArrow::after {
  content: "";
  width: 18px;
  height: 18px;
  background: url("../../img/arrowRight.svg") no-repeat;
  position: absolute;
  margin-left: 5px;
  margin-top: 2px;
  animation: arrowAnim 0.5s forwards infinite;
}

@keyframes arrowAnim {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(5px, 0, 0);
  }
}

.detailLink {
  position: relative;
}

.detailLink::before {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  background: var(--cor-2);
  transition: 0.3s;
  top: 25px;
}

.detailLink:hover::before {
  width: 100%;
}

.menu__dd-last {
  display: grid;
  justify-items: start;
  align-content: center;
  gap: 12px;
}
