.hero {
  padding: 110px 16px 150px 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 50px;
}

.detailHero__bg {
  position: relative;
}

.detailHero__bg::before {
  content: "";
  width: 594px;
  height: 357px;
  background: url("../../img/arrowBg.svg") no-repeat;
  position: absolute;
  left: 630px;
  top: 140px;
  z-index: 100;
}

.hero__button {
  display: flex;
  gap: 20px;
  align-items: center;
}

.button__contato,
.button__preEnem {
  position: relative;
}

.button__contato::after {
  content: "";
  width: 18px;
  height: 18px;
  background: url("../../img/contato.svg") no-repeat center;
  position: absolute;
  left: 62px;
  top: 2px;
}

.button__contato:hover::after,
.button__preEnem:hover::after {
  animation: animeDetail 1.5s ease-out;
}

.button__preEnem::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../../img/handDetail.svg") no-repeat center;
  position: absolute;
  left: 72px;
}

@keyframes animeDetail {
  0% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(-25deg);
  }

  55% {
    transform: rotate(0);
  }

  77% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(0);
  }
}

.hero__main {
  display: grid;
  gap: 20px;
}

.hero__main p {
  max-width: 50ch;
}

.hero__student {
  justify-self: center;
}

.hero__main-dir {
  justify-self: end;
}

@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
    padding-top: 60px;
    padding-bottom: 0px;
  }

  .hero__main-dir {
    justify-self: initial;
  }

  .hero__studentstwo {
    grid-row: 2 / 3;
    justify-self: center;
  }
}

@media (max-width: 550px) {
  .button__preEnem::after,
  .button__contato::after {
    animation: animeDetail 2s ease-out infinite;
  }
}
