body {
  background: var(--cor-0);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

h1,
h2,
p,
a,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  color: var(--cor-1);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

img,
video {
  max-width: 100%;
  display: block;
}

.button {
  transition: 0.3s;
  background: var(--cor-2);
  padding: 6px 8px !important;
  display: inline-block;
  border-radius: 8px;
  font: 600 1rem/1.25 "Outfit", sans-serif;
  color: var(--cor-0) !important;
}

.button:hover {
  background: var(--cor-3);
}
