.qualidades {
  padding: 0 16px 75px 16px;
}

.qualidades__ul::before,
.qualidades__ul::after {
  content: "";
  position: absolute;
  background: url("../../img/quality.svg") no-repeat;
  width: 50px;
  height: 81px;
}

.qualidades__ul::before {
  top: -40px;
  right: 120px;
  transform: rotate(-90deg);
}

.qualidades__ul::after {
  left: 30px;
  bottom: -100px;
  transform: rotate(90deg);
}

.qualidades__check {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.qualidades__check p {
  max-width: 20ch;
}

.qualidades__list {
  display: grid;
  gap: 20px;
}

.qualidades__early {
  display: grid;
  gap: 20px;
  margin-bottom: 30px;
  position: relative;
}

.qualidades__early::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #c0c0c0;
}

.qualidades__main {
  background: var(--cor-0);
  max-width: 350px;
  border-radius: 20px;
  padding: 40px;
  border: 1px solid var(--cor-1);
  box-shadow: #000 0px 15px 0px 0px;
  margin-top: 40px;
}

.qualidades__ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 60px;
  position: relative;
}

.qualidades__action {
  display: grid;
  justify-items: center;
  gap: 10px;
}

@media (max-width: 1200px) {
  .qualidades__ul::before {
    display: none;
  }
}

@media (max-width: 900px) {
  .qualidades__ul {
    grid-template-columns: 1fr 1fr;
  }

  .qualidades__ul::after {
    display: none;
  }
}

@media (max-width: 550px) {
  .qualidades__ul {
    grid-template-columns: 1fr;
  }
}
